.list {
    min-height: 410px;
    min-width: 200px;
    padding: 0px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #15519a;
    box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;
    list-style: none;
    vertical-align: top;
    text-align: center;
    
    &__item.item{
        padding: 5px 10px;
        cursor: pointer;
        color: #fff;
        
        &:first-child {
            padding-top: 15px;
        }
        
        &:hover {
            box-shadow: inset 0 0 70px rgba(51, 75, 156, 0.9);
        }
    }
}