<div class="main-container">
    <div class="container">
        
        <app-list [planets]="planets"></app-list>
        <app-description [selectedPlanet]="selectedPlanet"></app-description>
        <app-list [planets]="selectedPlanets"></app-list>

    </div>
</div>