.main-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    
}