
.description {
    height: 410px;
    min-width: 500px;
    display: inline-block;
    border: 2px solid #15519a;
    box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;

    border-radius: 5px;
    vertical-align: top;
    color: #fff;
    text-align: left;
    
    &__list {
        .list {
            padding: 10px 30px;
            list-style: none;

            &__item {
                padding: 5px 10px;
            }
        }
    }
    
    &__button.button {
        margin-bottom: 20px;
        border-radius: 5px;
        border-color: #15519a;
        box-shadow: 0 0 15px rgba(51, 75, 156, 0.7), 0 0 15px rgba(51, 75, 156, 0.7) inset;
        background-color: transparent;
        padding: 5px 15px;
        margin-left: 40px;
        margin-right: 40px;
        &:hover {
            box-shadow: inset 0 0 70px rgba(51, 75, 156, 0.9);
        }
        
        &--success {
//            background-color: #2a6d2a;
//            margin-left: 40px;
        }
        &--warning {
//            background-color: #b51e1e;
//            margin-left: 20px;
        }
    }
}

    