<div class="description">
    <div *ngIf="selectedPlanet!=null">
        <div class="description__list">
            <ul class="list">            
                <li class="list__item"> NAME: {{ selectedPlanet.name | uppercase }} </li>
                <li class="list__item"> ROTATION PERIOD: {{ selectedPlanet.rotation_period | uppercase }} </li>
                <li class="list__item"> ORBITAL PERIOD: {{ selectedPlanet.orbital_period | uppercase }} </li>
                <li class="list__item"> DIAMETER: {{ selectedPlanet.diameter | uppercase }} </li>
                <li class="list__item"> CLIMATE: {{ selectedPlanet.climate | uppercase }} </li>
                <li class="list__item"> GRAVITY: {{ selectedPlanet.gravity | uppercase }} </li>
                <li class="list__item"> TERRAIN: {{ selectedPlanet.terrain | uppercase }} </li>
                <li class="list__item"> SURVACE WATER: {{ selectedPlanet.surface_water | uppercase }} </li>
                <li class="list__item"> POPULATION: {{ selectedPlanet.population | uppercase }} </li>
            </ul>
        </div>
        <input 
            class="description__button button button--success" type="button" value="Add planet to list"
            (click)="addPlanetToSelectedPlanets(selectedPlanet)"
        >
        <input 
            class="description__button button button--warning" type="button" value="Erase planet from list"
            (click)="deletePlanetFromSelectedPlanets(selectedPlanet)"
        >
    </div>
</div>
